<article class="n-post-card js-post-card-wrap">
  <div class="n-post-card__media">
    <a href="{{ url }}">
    {{#if feature_image}}
      <img class="n-post-card__image lazyload" src="{{ img_url feature_image size="lg"}}" alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}">
    {{/if}}
    </a>
  </div>
  <div class="n-post-card__content">
    <div class="n-post-card__text">
      <h1 class="n-post-card__title">
        <a href="{{ url }}">{{ title }}</a>
      </h1>
      <p class="n-post-card__excerpt">{{ excerpt }}</p>
    </div>
    <div class="n-post-card__meta">
      <div class="n-post-card__tags">
        <div class="n-post-card__main-tag">
          <a href="/curriculum/">딩딩커리큘럼</a>
        </div>
      </div>
      <div class="n-post-card__bookmark">
        <a href="#" class="read-later" data-id="{{id}}">
          <svg class="status-none" width="17" height="25" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.2747 0H0.725814C0.533316 0 0.348702 0.0771656 0.212586 0.214521C0.0764693 0.351877 7.45984e-08 0.538172 7.45984e-08 0.732422V24.2676C-6.50164e-05 24.4125 0.0424678 24.5542 0.122217 24.6747C0.201966 24.7952 0.315347 24.8891 0.448012 24.9446C0.580678 25 0.726666 25.0145 0.867503 24.9862C1.00834 24.958 1.1377 24.8881 1.23921 24.7856L8.50024 17.458L15.7613 24.7856C15.8628 24.8881 15.9921 24.958 16.133 24.9862C16.2738 25.0145 16.4198 25 16.5525 24.9446C16.6851 24.8891 16.7985 24.7952 16.8783 24.6747C16.958 24.5542 17.0006 24.4125 17.0005 24.2676V0.732422C17.0005 0.538172 16.924 0.351877 16.7879 0.214521C16.6518 0.0771656 16.4672 0 16.2747 0V0ZM8.50024 15.6899C8.30781 15.6901 8.12332 15.7674 7.98733 15.9048L1.45163 22.4995V1.46484H15.5489V22.4995L9.01363 15.9048C8.94624 15.8367 8.86621 15.7827 8.77812 15.7458C8.69003 15.7089 8.59561 15.69 8.50024 15.6899Z" fill="#CDCDCD"/>
          </svg>
          <svg class="status-active" width="17" height="25" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.796 0.215524C16.7278 0.146781 16.6469 0.0923593 16.5579 0.0553772C16.469 0.0183952 16.3737 -0.000420804 16.2775 7.13889e-06H0.731014C0.636151 -0.0002316 0.542193 0.018704 0.454627 0.0557078C0.367061 0.0927116 0.287643 0.147042 0.221014 0.215524C0.150754 0.281428 0.0948137 0.361463 0.0567618 0.450522C0.01871 0.539581 -0.000616069 0.635707 1.49699e-05 0.732766V24.2672C-0.000633283 24.4126 0.043989 24.5544 0.127515 24.6724C0.20787 24.793 0.319704 24.8885 0.450514 24.9483C0.588977 24.9915 0.737051 24.9915 0.875514 24.9483C1.01417 24.9208 1.1415 24.8517 1.24101 24.75L8.50851 17.4224L15.7675 24.75C15.869 24.8537 15.9996 24.923 16.1415 24.9483C16.2772 24.9908 16.4223 24.9908 16.558 24.9483C16.6888 24.8885 16.8007 24.793 16.881 24.6724C16.9645 24.5544 17.0092 24.4126 17.0085 24.2672V0.732766C17.0087 0.636556 16.9901 0.541263 16.9536 0.452454C16.9171 0.363645 16.8635 0.2831 16.796 0.215524Z" fill="#236DF6"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</article>